<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="SAP.Middleware.Connector">
      <section name="GeneralSettings" type="SAP.Middleware.Connector.RfcGeneralConfiguration,sapnco" />
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <add NAME="AEKYUNG_DEV" USER="INTCE" PASSWD="INTCE123" CLIENT="700" LANG="3" ASHOST="172.16.1.14" SYSNR="10" />
          <add NAME="AEKYUNG_REAL" USER="INTCE" PASSWD="INTCE" CLIENT="700" LANG="3" ASHOST="172.16.1.16" SYSNR="10" />
          <add NAME="AKBB_DEV_SAP" USER="JJA_BATCH" PASSWD="JEJUAIR00" CLIENT="500" LANG="ko" ASHOST="10.11.120.120" SYSNR="00" />
          <add NAME="AKBB_JJP_SAP" USER="JJA_RFC" PASSWD="Jejuair!00" CLIENT="100" LANG="ko" ASHOST="10.11.120.114" SYSNR="02" />
          <add NAME="AKBB_JJQ_SAP" USER="JJA_RFC" PASSWD="Jejuair!00" CLIENT="100" LANG="ko" ASHOST="10.11.120.119" SYSNR="01" />
          <add NAME="AKB_DEV_SAP" USER="AKCIF" PASSWD="123456" CLIENT="100" LANG="ko" ASHOST="10.200.1.43" SYSNR="00" />
          <add NAME="AKB_REAL_SAP" USER="AKCIF" PASSWD="123456" CLIENT="100" LANG="ko" ASHOST="10.200.1.41" SYSNR="00" />
          <add NAME="AKC_DEV_SAP" USER="AKCTIS" PASSWD="123456" CLIENT="100" LANG="ko" ASHOST="10.150.1.2" SYSNR="00" />
          <add NAME="AKC_REAL_SAP" USER="AKCTIS" PASSWD="123456" CLIENT="100" LANG="ko" ASHOST="10.150.1.102" SYSNR="00" />
          <add NAME="AKIS_ERP_DEV" USER="ZGWIF" PASSWD="123456" CLIENT="200" LANG="ko" ASHOST="10.250.1.26" SYSNR="00" />
          <add NAME="AKIS_ERP" USER="ZGWIF" PASSWD="123456" CLIENT="200" LANG="ko" ASHOST="10.250.1.25" SYSNR="00" />
          <add NAME="AKP_DEV_SAP" USER="AKPIS01" PASSWD="123456" CLIENT="100" LANG="ko" ASHOST="10.100.1.43" SYSNR="00" />
          <add NAME="AKP_REAL_SAP" USER="AKPIS01" PASSWD="123456" CLIENT="100" LANG="ko" ASHOST="10.100.1.41" SYSNR="00" />
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>
</configuration>